/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightblue;
}

.container {
    background-color: rgb(59, 82, 173);
    margin: 0 auto;
    width: 80%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.square {
    height: 50px;
    width: 50px;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    box-shadow: 3px 3px #00000042;
    border-radius: 5px;
    color: white;
}
.buzz {
    background-color: lightseagreen;
}

.fizz {
    background-color: rgb(240, 177, 17);

}

.buzzfizz {
    background-color: rgb(208, 116, 187);
}

.number {
    background-color: rgb(167, 230, 169);
}